*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.wrapper{
    background-color: rgb(36, 35, 35);
    color: white;
} 

#section-p1{
    padding: 20px 40px;
}


/* header section starts */
.myName {
  margin: 10px 0;
  font-size: 1.8rem;
}

.header{
    background-image: url(./Media/codes\ ss.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* min-height: 70vh; */
    padding-inline: 30px;
    padding-block: 20px;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header-head{
    display: flex;
    justify-content: space-between;
}

.header-head .text{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}


.header-head .nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    /* font-family: 'Times New Roman', Times, serif; */
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    white-space: nowrap;
}

.nav ul li a:hover{
    color: aqua;
    transition: all 0.2s ease;
}

span{
    color:aqua;
}

.texts {
    text-align: center;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(75, 73, 73);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: 20px;
    padding-inline: 30px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}



.header-head .nav .sidebar li{
    list-style: none;
}

.header-head .nav .sidebar a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
}

.header .nav .button{
    background-color: aqua;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    color: rgb(48, 47, 47);
    white-space: nowrap;
}

.header .texts{
    padding: 30px 0;
}

.header .texts p{
    font-size: 2rem;
    opacity: 1;
}

.icons{
    display: flex;
    justify-content: center;
    /* gap: 0; */
    width: 30%;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
}

.icons img{
    width: 50%;
    border-radius: 50%;
    /* text-align: center; */
    margin: 5px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}

.icons a{
    text-align: center;
    
}

.nav .menu-button{
    display: none;
}


/* header section ends */
/* service section starts */

.service{
    padding: 1rem;
}

.service p, h3{
    text-align: center;
    margin: 0;
    font-weight: 300;
    /* font-family: 'Times New Roman', Times, serif; */
}

.service .serve{
    opacity: 0.6;
    font-size: 15px;
}

.service h3{
    font-size: 1.8rem;
}

.ser-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 25px;
    
}

.service .ser-con .cont-items-1{
    background-color: aquamarine;
    border-radius: 5px;
    padding-block: 35px;    
    padding-inline: 30px;   
    color: black;
    height: 300px;
    /* font-family: 'Times New Roman', Times, serif; */
}


.service .ser-con .cont-items{
    border: 1px solid aquamarine;
    border-radius: 5px;
    padding-block: 35px;
    padding-inline: 30px;
    height: 300px;
    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: rgb(75, 73, 73);
}

.service .ser-con h2{
    text-align: right;
    padding-inline: 10px;
    font-size: 2rem;
    opacity: .3;
    margin: 0%;
}

.service .ser-con .cont-items-1 img{
    width: 13%;
}

.service .ser-con .cont-items img{
    width: 15%;
}

.ser-con .skills{
    font-size: 1.2rem;
    margin: 0%;
    padding-block: 10px;

}

.ser-con   .text{
    font-size: 14px;
    text-align: left;
    min-width: 160px;
    margin-top: 0;
    font-weight: 400;
    /* font-family: 'Times New Roman', Times, serif; */
}


/* service section ends */

.project{
    padding: 30px 20px;
    text-align: center;
}

.project .project-texts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.project .project-texts .project-details p:nth-child(2){
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
}

.project .project-details p{
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}

.project .project-details {
    width: 32%;
}

.project .project-details .project-img{
    padding: 20px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    background-color: rgb(43, 39, 39);
}

.project .project-details img{
    width: 100%;
    border-radius: 5px;
}
/* about-me section starts */

.about-me{
    background-color: rgb(58, 57, 57);
    text-align: center;
    padding: 1rem;
}

.about-me .my{
    opacity: 0.5;
    margin: 0;
    font-size: 15px;
}

.about-me h4{
    margin: 0;
    font-size: 1.5rem;
    padding: 5px;
    /* font-family: 'Times New Roman', Times, serif; */
}

.about-me .content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    margin: 0 20px;
}



.content-item p{
    font-size: 1rem;
    text-align: left;
    color: wheat;
    opacity: 1;
    /* font-family: 'Times New Roman', Times, serif; */
    margin-block: 20px;
}



.content-item-1 .imgg{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

/* about-me section ends */
/* contact-me section starts */

.contact-me{
    background-color: black;
    padding-block: 20px;
    text-align: center;
}

.contact-me .get{
    opacity: .7;
    font-size: 10px;
}

.contact-me .currently{
    padding:10px 5px;
    font-size: 18px;
    color: white;
}

.contact-me .form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    align-items: flex-start;
    background-color: rgb(31, 29, 29);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.contacts .imgg{
    text-decoration: none;

}

.contact-me .form .contacts{
    text-align: left;
} 

.contact-me .form .contacts .imgg{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-block: 5px;
}

.contact-me .form .contacts .imgg span{
    color: rgb(44, 201, 201);
}

.contact-me .form .form-div{
    text-align: left;
}

.contact-me .form .form-div label{
    opacity: .5;
}

.contact-me .form .form-div input{
    padding: 5px 10px;
    border: 1px solid grey;
    background-color: rgb(58, 57, 57);
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    /* opacity: .3; */
    outline: none;
}

.contact-me .form .form-div textarea{
    border: 1px solid grey;
    background-color: rgb(58, 57, 57);
    border-radius: 8px;
    color: white;
    /* opacity: .3; */
    padding-left: 10px;
    outline: none;
}

.contact-me .form .form-div .btn{
    background-color: aqua;
    opacity: 1;
    color: black;
    border: none;
    padding: 7px;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}


/* contact-me section ends */
/* footer section starts */

.footer{
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer .text{
    font-size: 1.2rem;
    padding-block: 10px;
}

.footer .footer-texts{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 1rem;
}

.footer .footer-texts ul{
    list-style-type: none;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    padding-inline: 15px;
}

.footer .footer-texts ul a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.footer .footer-texts ul a:hover{
    color: aqua;
    transition: all 0.2s ease;
}

.footer .footer-texts a, p{
    margin: 0;
    padding: 3px;
    opacity: .7;
}

.footer .social p{
    padding-block: 10px;
}

.footer .social .cta{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer .social .cta a{
   color: whitesmoke;
   text-decoration: none;
   cursor: pointer;
}

.footer .social .cta a i{
    font-size: 15px;
    color: whitesmoke;
    padding-left: 5px;
}

.footer .social .cta a i:hover{
    color: aqua;
}

/* footer section ends */
/* copy-right section starts */

.copy-right{
    text-align: center;
    padding-block: 10px;
    border-top: 1.5px solid grey;
}


@media  screen and (max-width:700px){
    .header{
        background-image: none;
    }

    .texts {
        text-align:left;
    }
    .nav .menu-button{
        display: block;
    }

    .hideOnMobile{
        display: none;
    }

    .header .icons{
        margin-top: 15px;
    }

    .icons{
        width: 50%;
    }

    .icons img{
        width: 70%;
    }

   
    .header .nav .sidebar .button{
        color: rgb(48, 47, 47);

    }


    .ser-con {
        display:flex;
        flex-direction: column;
        gap: 20px;
    }

    .content-box {
        display: flex;
        flex-direction: column;
    }

    .contact-me .form{
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer .footer-texts{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer .footer-texts ul{
        list-style-type: none;
        border: none;
        text-align: left;
        padding-inline: 0;
    }

    .footer .text{
        font-size: 1.5rem;
    }

    .footer .social .cta{
        display: flex;
        /* flex-direction: column; */
    }

    .footer .social .cta a{
        border-left: none;
    }

    .footer .social .cta a:hover{
        color: aqua;
        border-bottom: none;
    }

}

@media (max-width: 499px) {

    .icons{
        width: 50%;
    }

    .icons img{
        width: 70%;
    }

    .header .nav .sidebar .button{
        color: rgb(48, 47, 47);

    }

    .header .texts h3{
        white-space: nowrap;
    }


    .sidebar{
        width: 70%;
    }
    .ser-con {
        display:flex;
        flex-direction: column;
        gap: 20px;
    }

    .project .project-texts{
        display: flex;
        flex-direction: column;
    }

    .project .project-details {
        width: 100%;
        padding: 10px 0;
    }
    

    .content-box {
        display: flex;
        flex-direction: column;
    }
    
    .header .texts p{
        font-size: 1.2rem;
    }
    
    .contact-me .form{
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer .footer-texts ul{
        list-style-type: none;
        border: none;
        text-align: left;
    }

    .footer .social .cta{
    flex-direction: row;
}





}

